+<blockquote>
+  <p> MeeTip is a cryptocurrency that will be used into OutMySphere in order to offer drinks to your soulmate or to your friends and tip the employee of your choice. OutMySphere is a mobile app allowing to know instantly the crowd in bars, restaurants, nightclubs, coffees, casinos and fitness gyms. With this app, you will see who is in each establishment and you will be able to interact with them.</p>
+  <footer><a href="https://www.meetip.io/" target="_blank">https://www.meetip.io/</a></footer>
+</blockquote>
